{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block main_class %}index-main{% endblock %}

{% block main %}
    <div class="page-content products">
        {% for product in products %}
            <div class="product-card">
                <div class="card-img"></div>
                <div class="card-content">
                    <h2 class="product-title">{{ product.name }}</h2>
                    <div class="product-details">
                        <a href="{{ path('app_product_details', {'id' : product.id}) }}">Plus de détails</a>
                        <div class="product-price">{{ product.price | round(2) | number_format(2)}}<span class="currency">€</span></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    test modification du footer en re-utilisant ensuite le contenu d'origine du footer grace au parent()
    {{ parent() }}
{% endblock %}
